USE [master]
GO
/****** Object:  Database [BikeRental]    Script Date: 12/5/2025 12:01:40 AM ******/
CREATE DATABASE [BikeRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BikeRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BikeRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BikeRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BikeRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BikeRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BikeRental]
GO
/****** Object:  Table [dbo].[tb_Account]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[RoleId] [int] NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Blog]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BlogComment]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BlogComment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[BlogId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Customer]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[IdentityCard] [nvarchar](50) NULL,
	[DriverLicense] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Username] [varchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menu]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[Position] [int] NULL,
	[ParentId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[DepositAmount] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[OrderStatusId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[PaymentStatus] [int] NULL,
	[PaymentMethodId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderStatus]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderStatus](
	[OrderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Payment]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[TransactionCode] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PaymentMethod]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PaymentMethod](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NOT NULL,
	[LicensePlate] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Price] [decimal](18, 0) NULL,
	[PriceDeposit] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[IsHome] [bit] NULL,
	[IsActive] [bit] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[Color] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
	[BrandId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductBrand]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductBrand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[Icon] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductCategory]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[Icon] [nvarchar](250) NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductImage]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductImage](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[IsDefault] [bit] NULL,
	[Position] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductReview]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductReview](
	[ProductReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Detail] [nvarchar](max) NULL,
	[Star] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Role]    Script Date: 12/5/2025 12:01:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Account] ON 

INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (1, N'admin', N'123456', N'Nguyễn Quản Trị', NULL, N'admin@harmic.com', 1, NULL, 1)
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (2, N'staff01', N'123456', N'Lê Nhân Viên 1', NULL, N'nv1@harmic.com', 2, NULL, 1)
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (3, N'staff02', N'123456', N'Trần Nhân Viên 2', NULL, N'nv2@harmic.com', 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Blog] ON 

INSERT [dbo].[tb_Blog] ([BlogId], [Title], [Alias], [CategoryId], [Description], [Detail], [Image], [SeoTitle], [CreatedDate], [IsActive]) VALUES (1, N'Kinh nghiệm phượt Hà Giang mùa hoa Tam Giác Mạch', N'kinh-nghiem-phuot-ha-giang', 1, N'Hướng dẫn chi tiết lịch trình 3 ngày 2 đêm, các điểm check-in đẹp nhất và lưu ý khi lái xe đường đèo.', N'<p>Hà Giang mùa này rất đẹp...</p>', N'/images/blog/blog1.jpg', NULL, CAST(N'2025-11-29T23:28:27.570' AS DateTime), 1)
INSERT [dbo].[tb_Blog] ([BlogId], [Title], [Alias], [CategoryId], [Description], [Detail], [Image], [SeoTitle], [CreatedDate], [IsActive]) VALUES (2, N'Top 5 mẫu xe tay ga leo đèo khỏe nhất 2024', N'top-xe-tay-ga-leo-deo', 1, N'Đánh giá sức mạnh của Honda AirBlade 160, Vario, SH Mode khi đi đường dốc. Lựa chọn nào an toàn cho bạn?', N'<p>Khi đi phượt bằng xe tay ga...</p>', N'/images/blog/blog2.jpg', NULL, CAST(N'2025-11-29T23:28:27.570' AS DateTime), 1)
INSERT [dbo].[tb_Blog] ([BlogId], [Title], [Alias], [CategoryId], [Description], [Detail], [Image], [SeoTitle], [CreatedDate], [IsActive]) VALUES (3, N'Thủ tục thuê xe máy cho khách du lịch cần những gì?', N'thu-tuc-thue-xe-may', 1, N'Tổng hợp các giấy tờ cần thiết: CCCD, Bằng lái xe, Tiền cọc. Quy trình giao nhận xe nhanh gọn tại Harmic.', N'<p>Để thuê xe nhanh chóng...</p>', N'/images/blog/blog3.jpg', NULL, CAST(N'2025-11-29T23:28:27.570' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tb_Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_BlogComment] ON 

INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [Detail], [BlogId], [CreatedDate], [IsActive]) VALUES (1, N'Nguyễn Văn Hùng', N'0912345678', N'hung@gmail.com', N'Bài viết rất chi tiết, cảm ơn ad! Tháng 11 đi có lạnh lắm không ạ?', 1, CAST(N'2025-11-29T23:31:27.160' AS DateTime), 1)
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [Detail], [BlogId], [CreatedDate], [IsActive]) VALUES (2, N'Trần Thu Hà', N'0987654321', N'ha@gmail.com', N'Mình vừa đi về xong, cảnh đẹp mê hồn luôn.', 1, CAST(N'2025-11-29T23:31:27.160' AS DateTime), 1)
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [Detail], [BlogId], [CreatedDate], [IsActive]) VALUES (3, N'Phạm Đức Thắng', N'0909000111', N'thang@gmail.com', N'AirBlade 125 leo đèo Mã Pí Lèng có ổn không shop?', 2, CAST(N'2025-11-29T23:31:27.160' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tb_BlogComment] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Contact] ON 

INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate]) VALUES (1, N'Khách 1', NULL, NULL, N'Tư vấn giúp em xe Vision', 0, CAST(N'2025-11-29T23:19:20.490' AS DateTime))
INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate]) VALUES (2, N'Khách 2', NULL, NULL, N'Shop có giao xe tận nơi không?', 0, CAST(N'2025-11-29T23:19:20.490' AS DateTime))
INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate]) VALUES (3, N'Khách 3', NULL, NULL, N'Giá thuê theo tháng bao nhiêu?', 0, CAST(N'2025-11-29T23:19:20.490' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Customer] ON 

INSERT [dbo].[tb_Customer] ([CustomerId], [Name], [Phone], [Email], [IdentityCard], [DriverLicense], [Address], [Username], [Password], [CreatedDate], [IsActive]) VALUES (1, N'Nguyễn Văn A', N'0901000001', N'a@gmail.com', N'123456789001', N'A1-001', N'Hà Nội', NULL, NULL, CAST(N'2025-11-29T23:19:20.487' AS DateTime), 1)
INSERT [dbo].[tb_Customer] ([CustomerId], [Name], [Phone], [Email], [IdentityCard], [DriverLicense], [Address], [Username], [Password], [CreatedDate], [IsActive]) VALUES (2, N'Trần Thị B', N'0901000002', N'b@gmail.com', N'123456789002', N'A1-002', N'Hải Phòng', NULL, NULL, CAST(N'2025-11-29T23:19:20.487' AS DateTime), 1)
INSERT [dbo].[tb_Customer] ([CustomerId], [Name], [Phone], [Email], [IdentityCard], [DriverLicense], [Address], [Username], [Password], [CreatedDate], [IsActive]) VALUES (3, N'Lê Văn C', N'0901000003', N'c@gmail.com', N'123456789003', N'A1-003', N'Đà Nẵng', NULL, NULL, CAST(N'2025-11-29T23:19:20.487' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tb_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Menu] ON 

INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Position], [ParentId], [CreatedDate], [IsActive]) VALUES (1, N'Trang chủ', N'/', 1, 0, CAST(N'2025-11-29T23:19:20.490' AS DateTime), 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Position], [ParentId], [CreatedDate], [IsActive]) VALUES (2, N'Giới thiệu', N'/gioi-thieu', 2, 0, CAST(N'2025-11-29T23:19:20.490' AS DateTime), 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Position], [ParentId], [CreatedDate], [IsActive]) VALUES (3, N'Sản phẩm', N'/san-pham', 3, 0, CAST(N'2025-11-29T23:19:20.490' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tb_Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] ON 

INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (1, 1, 1, CAST(150000 AS Decimal(18, 0)), 1)
INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (2, 2, 2, CAST(200000 AS Decimal(18, 0)), 1)
INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (3, 3, 3, CAST(300000 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderStatus] ON 

INSERT [dbo].[tb_OrderStatus] ([OrderStatusId], [Name], [Description]) VALUES (1, N'Mới đặt', NULL)
INSERT [dbo].[tb_OrderStatus] ([OrderStatusId], [Name], [Description]) VALUES (2, N'Đã xác nhận', NULL)
INSERT [dbo].[tb_OrderStatus] ([OrderStatusId], [Name], [Description]) VALUES (3, N'Đang thuê', NULL)
SET IDENTITY_INSERT [dbo].[tb_OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Payment] ON 

INSERT [dbo].[tb_Payment] ([PaymentId], [OrderId], [PaymentMethodId], [Amount], [TransactionCode], [PaymentDate], [Note], [Status]) VALUES (1, 16, 1, CAST(1320000 AS Decimal(18, 0)), N'CASH_HD202512035433_20251203222527', CAST(N'2025-12-03T22:25:27.430' AS DateTime), N'Thanh toán tiền mặt tại quán - Đơn hàng HD202512035433. Khách sẽ thanh toán khi đến quán nhận xe.', 0)
INSERT [dbo].[tb_Payment] ([PaymentId], [OrderId], [PaymentMethodId], [Amount], [TransactionCode], [PaymentDate], [Note], [Status]) VALUES (2, 26, 1, CAST(500000 AS Decimal(18, 0)), N'CASH_HD202512043472_20251204122745', CAST(N'2025-12-04T12:27:45.760' AS DateTime), N'Thanh toán tiền mặt tại quán - Đơn hàng HD202512043472. Khách sẽ thanh toán khi đến quán nhận xe.', 0)
INSERT [dbo].[tb_Payment] ([PaymentId], [OrderId], [PaymentMethodId], [Amount], [TransactionCode], [PaymentDate], [Note], [Status]) VALUES (3, 28, 1, CAST(500000 AS Decimal(18, 0)), N'CASH_HD202512042545_20251204175648', CAST(N'2025-12-04T17:56:48.817' AS DateTime), N'Thanh toán tiền mặt tại quán - Đơn hàng HD202512042545. Khách sẽ thanh toán khi đến quán nhận xe.', 0)
SET IDENTITY_INSERT [dbo].[tb_Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_PaymentMethod] ON 

INSERT [dbo].[tb_PaymentMethod] ([PaymentMethodId], [Name], [Description], [IsActive]) VALUES (1, N'Tiền mặt', NULL, 1)
INSERT [dbo].[tb_PaymentMethod] ([PaymentMethodId], [Name], [Description], [IsActive]) VALUES (2, N'Chuyển khoản Ngân hàng', NULL, 1)
INSERT [dbo].[tb_PaymentMethod] ([PaymentMethodId], [Name], [Description], [IsActive]) VALUES (3, N'Ví Momo', NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

INSERT [dbo].[tb_Product] ([ProductId], [Title], [Alias], [CategoryId], [LicensePlate], [Image], [Description], [Detail], [Price], [PriceDeposit], [Quantity], [IsHome], [IsActive], [Status], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Color], [Brand], [BrandId]) VALUES (1, N'Honda Vision 2023', N'honda-vision', 1, N'29-H1 111.11', N'/images/product/vision1.jpg', NULL, NULL, CAST(150000 AS Decimal(18, 0)), CAST(1000000 AS Decimal(18, 0)), 1, 0, 1, N'Sẵn sàng', CAST(N'2025-11-29T23:19:20.487' AS DateTime), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_Product] ([ProductId], [Title], [Alias], [CategoryId], [LicensePlate], [Image], [Description], [Detail], [Price], [PriceDeposit], [Quantity], [IsHome], [IsActive], [Status], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Color], [Brand], [BrandId]) VALUES (2, N'Honda AirBlade 160', N'honda-ab', 1, N'29-H1 222.22', N'/images/product/ab1.jpg', NULL, NULL, CAST(200000 AS Decimal(18, 0)), CAST(2000000 AS Decimal(18, 0)), 1, 0, 1, N'Sẵn sàng', CAST(N'2025-11-29T23:19:20.487' AS DateTime), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_Product] ([ProductId], [Title], [Alias], [CategoryId], [LicensePlate], [Image], [Description], [Detail], [Price], [PriceDeposit], [Quantity], [IsHome], [IsActive], [Status], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Color], [Brand], [BrandId]) VALUES (3, N'Honda Lead 125', N'honda-lead', 1, N'29-H1 333.33', N'/images/lead.jpg', NULL, NULL, CAST(180000 AS Decimal(18, 0)), CAST(1500000 AS Decimal(18, 0)), 1, 0, 1, N'Sẵn sàng', CAST(N'2025-11-29T23:19:20.487' AS DateTime), NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductBrand] ON 

INSERT [dbo].[tb_ProductBrand] ([BrandId], [Title], [Alias], [Icon], [IsActive]) VALUES (1, N'Honda', N'honda', NULL, 1)
INSERT [dbo].[tb_ProductBrand] ([BrandId], [Title], [Alias], [Icon], [IsActive]) VALUES (2, N'Yamaha', N'yamaha', NULL, 1)
INSERT [dbo].[tb_ProductBrand] ([BrandId], [Title], [Alias], [Icon], [IsActive]) VALUES (7, N'Suzuki', N'suzuki', NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_ProductBrand] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] ON 

INSERT [dbo].[tb_ProductCategory] ([CategoryId], [Title], [Alias], [Description], [Icon], [Position], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (1, N'Xe Tay Ga', N'xe-tay-ga', NULL, NULL, NULL, CAST(N'2025-11-29T23:19:20.487' AS DateTime), NULL, 1)
INSERT [dbo].[tb_ProductCategory] ([CategoryId], [Title], [Alias], [Description], [Icon], [Position], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (2, N'Xe Số', N'xe-so', NULL, NULL, NULL, CAST(N'2025-11-29T23:19:20.487' AS DateTime), NULL, 1)
INSERT [dbo].[tb_ProductCategory] ([CategoryId], [Title], [Alias], [Description], [Icon], [Position], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (3, N'Xe Côn Tay', N'xe-con-tay', NULL, NULL, NULL, CAST(N'2025-11-29T23:19:20.487' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductImage] ON 

INSERT [dbo].[tb_ProductImage] ([ImageId], [ProductId], [Image], [IsDefault], [Position]) VALUES (5, 1, N'/images/product/vision1.ipg', 1, 1)
INSERT [dbo].[tb_ProductImage] ([ImageId], [ProductId], [Image], [IsDefault], [Position]) VALUES (7, 1, N'/images/product/vision2.ipg', 0, 2)
INSERT [dbo].[tb_ProductImage] ([ImageId], [ProductId], [Image], [IsDefault], [Position]) VALUES (9, 1, N'/images/product/vision3.ipg', 0, 3)
SET IDENTITY_INSERT [dbo].[tb_ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Role] ON 

INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (2, N'Staff', N'Nhân viên')
INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (3, N'Customer', N'Khách hàng')
SET IDENTITY_INSERT [dbo].[tb_Role] OFF
GO
ALTER TABLE [dbo].[tb_Account] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Blog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_Blog] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_BlogComment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_BlogComment] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Category] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_Category] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Contact] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[tb_Contact] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_Customer] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_Customer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Menu] ADD  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[tb_Menu] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_Menu] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_OrderDetail] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[tb_Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[tb_Payment] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[tb_PaymentMethod] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ((0)) FOR [IsHome]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ('SanSang') FOR [Status]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_ProductBrand] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_ProductCategory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_ProductCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_ProductImage] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[tb_ProductImage] ADD  DEFAULT ((1)) FOR [Position]
GO
ALTER TABLE [dbo].[tb_ProductReview] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tb_ProductReview] ADD  DEFAULT ((1)) FOR [IsActive]
GO
USE [master]
GO
